<div class="card-panel totals-panel">
  <div class="row">
  <div class="col s4">{{pluralize-word totalLeft 'item'}} left</div>
  <div class="col s8">
    {{#link-to 'todo' (query-params filter="all")
      class=(if (eq filter 'all') 'active' '')
      }}All{{/link-to}}
      {{#link-to 'todo' (query-params filter="active")
        class=(if (eq filter 'active') 'active' '')
        }}
        Active{{/link-to}}
      {{#link-to 'todo' (query-params filter="complete") 
        class=(if (eq filter 'complete') 'active' '')
        }}
      Complete{{/link-to}}
  </div>
  </div>
</div>
