{{add-todo items=model.model}}

<ul class="collection with-header card-panel">
  <li class="collection-header">TODO 
    <span class="badge purple lighten-4">material</span>
    <span class="badge green lighten-2">ember</span></li>
  {{#each todos as |item|}}
    <li class="collection-item">
      {{todo-item item=item}}
    </li>
  {{/each}}
</ul>

{{todo-totals items=model.model filter=filter}}
